* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/*** HEADER ***/
.container {
  width: 100%;
  height: 100vh;
  background: rgba(61,61,61,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(61,61,61,1)), color-stop(44%, rgba(51,51,51,1)), color-stop(100%, rgba(5,5,5,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: radial-gradient(ellipse at center, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#050505', GradientType=1 );
}

.header-title {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.header-title h1 {
  font-weight: 400;
  font-family: 'Lobster', cursive;
  font-size: 90px;
  color: #FFF;
  text-align: center;
}

.lading-page-title {
  position: absolute;
  width: 100%;
}

.lading-page-title svg {
  padding: 0;
  width: 100%;
  height: 150px;
}

.lading-page-title path {
  stroke: #FFF;
  fill: #FFF;
  stroke-dasharray: 2500;
  opacity: 10;
  animation: animate 2s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 2500;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 2500;
  }

  90% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}

/*** ORBITS ***/

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.hero-image {
  width: 150px;
  height: 150px;
  background: url("../img/sun.svg");
  background-size: cover;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.orbits {
  border: 1px solid rgba(255, 255, 255, 0.06);
  position: absolute;
  border-radius: 50%;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.orbit1 {
  width: 200px;
  height: 200px;
}

.orbit2 {
  width: 300px;
  height: 300px;
}

.orbit3 {
  width: 400px;
  height: 400px;
}

.orbit4 {
  width: 500px;
  height: 500px;
}

.orbit5 {
  width: 600px;
  height: 600px;
}

.orbit6 {
  width: 700px;
  height: 700px;
}

.orbit7 {
  width: 800px;
  height: 800px;
}

.orbit8 {
  width: 900px;
  height: 900px;
}

/*** PLANETS ***/

.planets {
  width: 30px;
  height: 30px;
  z-index: 5;
}

.planet1 {
  margin: 15px 0 0 15px;
  animation: rotating 8s linear infinite;  
  transform-origin: 85px 85px;
}

.planet2 {
  margin: 28px 0 0 28px;
  animation: reverse-rotating 9s linear infinite;
  transform-origin: 120px 120px;
}

.planet3 {
  margin: 41px 0 0 41px;
  animation: rotating 10s linear infinite;
  transform-origin: 157px 157px;
}

.planet4 {
  margin: 56px 0 0 56px;
  animation: reverse-rotating 11s linear infinite;
  transform-origin: 191px 191px;
}

.planet5 {
  margin: 70px 0 0 70px;
  animation: rotating 12s linear infinite;
  transform-origin: 227px 227px;
}

.planet6 {
  margin: 87px 0 0 87px;
  animation: reverse-rotating 13s linear infinite;
  transform-origin: 262px 262px;
}

.planet7 {
  margin: 100px 0 0 100px;
  animation: rotating 14s linear infinite;
  transform-origin: 297px 297px;
}

.planet8 {
  margin: 115px 0 0 115px;
  animation: reverse-rotating 15s linear infinite;
  transform-origin: 333px 333px;
}

@keyframes reverse-rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*** NAVIGATION ***/

.navigation-container {
  position: fixed;
  top: 50%;
  right: 0%;
  margin-top: -240px;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.progress-bar {
  position: absolute;
  right: 0;
  height: 10%;
  background: rgba(255, 255, 255, 0.5);
  width: 6px;
  z-index: -1;
}

.navigation {
  list-style: none;
  color: #FFF;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation li{
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
  padding: 5px 15px;
}

.navigation li:hover {
  cursor: pointer;
  border-bottom: 2px solid #FFF;
}

@media only screen and (max-width: 1200px) {
  .header-title h1 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 768px) {
  .header-title {
    padding: 20px 10px 0 10px;
  }

  .header-title h1 {
    font-size: 35px;
  }
  
  .navigation {
    font-size: 16px;
  }
}



/*** SECTIONS ***/
.slide {
  height: 100vh;
  width: 100%;
  display: block;
}

.slide-info {
  color: #FFF;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0 300px;
}

 @keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.planets-background {
  width: 100vw;
  height: 100vh;
}


#slide1 {
  background: rgba(241,231,103,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

.planets-background.slide1 {
  background: url("../img/sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide2 {
  background: rgba(169,3,41,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  background: radial-gradient(ellipse at center, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1 );
}

.planets-background.slide2 {
  background: url("../img/mercury.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide3 {
  background: rgba(255,122,5,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,122,5,1) 0%, rgba(219,102,0,1) 44%, rgba(194,91,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,122,5,1)), color-stop(44%, rgba(219,102,0,1)), color-stop(100%, rgba(194,91,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,122,5,1) 0%, rgba(219,102,0,1) 44%, rgba(194,91,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,122,5,1) 0%, rgba(219,102,0,1) 44%, rgba(194,91,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,122,5,1) 0%, rgba(219,102,0,1) 44%, rgba(194,91,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,122,5,1) 0%, rgba(219,102,0,1) 44%, rgba(194,91,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7a05', endColorstr='#c25b00', GradientType=1 );
}

.planets-background.slide3 {
  background: url("../img/venus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide4 {
  background: rgba(5,238,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(5,238,255,1)), color-stop(44%, rgba(0,186,199,1)), color-stop(100%, rgba(0,157,168,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: radial-gradient(ellipse at center, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05eeff', endColorstr='#009da8', GradientType=1 );
}

.planets-background.slide4 {
  background: url("../img/earth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide5 {
  background: rgba(201,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(201,0,0,1)), color-stop(44%, rgba(179,0,0,1)), color-stop(100%, rgba(112,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90000', endColorstr='#700000', GradientType=1 );
}

.planets-background.slide5 {
  background: url("../img/mars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide6 {
  background: rgba(207,128,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(207,128,0,1) 0%, rgba(204,133,2,1) 44%, rgba(166,103,2,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(207,128,0,1)), color-stop(44%, rgba(204,133,2,1)), color-stop(100%, rgba(166,103,2,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(207,128,0,1) 0%, rgba(204,133,2,1) 44%, rgba(166,103,2,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(207,128,0,1) 0%, rgba(204,133,2,1) 44%, rgba(166,103,2,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(207,128,0,1) 0%, rgba(204,133,2,1) 44%, rgba(166,103,2,1) 100%);
  background: radial-gradient(ellipse at center, rgba(207,128,0,1) 0%, rgba(204,133,2,1) 44%, rgba(166,103,2,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf8000', endColorstr='#a66702', GradientType=1 );
}

.planets-background.slide6 {
  background: url("../img/jupiter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide7 {
  background: rgba(207,166,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(207,166,0,1) 0%, rgba(204,170,2,1) 44%, rgba(166,133,3,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(207,166,0,1)), color-stop(44%, rgba(204,170,2,1)), color-stop(100%, rgba(166,133,3,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(207,166,0,1) 0%, rgba(204,170,2,1) 44%, rgba(166,133,3,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(207,166,0,1) 0%, rgba(204,170,2,1) 44%, rgba(166,133,3,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(207,166,0,1) 0%, rgba(204,170,2,1) 44%, rgba(166,133,3,1) 100%);
  background: radial-gradient(ellipse at center, rgba(207,166,0,1) 0%, rgba(204,170,2,1) 44%, rgba(166,133,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfa600', endColorstr='#a68503', GradientType=1 );
}

.planets-background.slide7 {
  background: url("../img/saturn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 44.5%;
  background-attachment: fixed;
}

#slide8 {
  background: rgba(0,101,224,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,101,224,1) 0%, rgba(0,93,199,1) 44%, rgba(0,63,135,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,101,224,1)), color-stop(44%, rgba(0,93,199,1)), color-stop(100%, rgba(0,63,135,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,101,224,1) 0%, rgba(0,93,199,1) 44%, rgba(0,63,135,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,101,224,1) 0%, rgba(0,93,199,1) 44%, rgba(0,63,135,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,101,224,1) 0%, rgba(0,93,199,1) 44%, rgba(0,63,135,1) 100%);
  background: radial-gradient(ellipse at center, rgba(0,101,224,1) 0%, rgba(0,93,199,1) 44%, rgba(0,63,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065e0', endColorstr='#003f87', GradientType=1 );
}

.planets-background.slide8 {
  background: url("../img/uranus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}

#slide9 {
  background: rgba(0,133,222,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,133,222,1)), color-stop(44%, rgba(0,136,199,1)), color-stop(100%, rgba(0,102,133,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: radial-gradient(ellipse at center, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085de', endColorstr='#006685', GradientType=1 );
}

.planets-background.slide9 {
  background: url("../img/neptune.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  background-attachment: fixed;
}