* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

/*** LANDING PAGE ***/
.container {
  width: 100%;
  height: 100vh;
  background: rgba(61,61,61,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(61,61,61,1)), color-stop(44%, rgba(51,51,51,1)), color-stop(100%, rgba(5,5,5,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  background: radial-gradient(ellipse at center, rgba(61,61,61,1) 0%, rgba(51,51,51,1) 44%, rgba(5,5,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#050505', GradientType=1 );
}

.header-title {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.header-title h1 {
  font-weight: 400;
  font-family: 'Lobster', cursive;
  font-size: 90px;
  color: #FFF;
  text-align: center;
}

.lading-page-title {
  position: absolute;
  width: 100%;
}

.lading-page-title svg {
  padding: 0;
  width: 100%;
  height: 150px;
}

.lading-page-title path {
  stroke: #FFF;
  fill: #FFF;
  stroke-dasharray: 2500;
  opacity: 10;
  animation: animate 2s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 2500;
  }

  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 2500;
  }

  90% {
    fill: rgba(255, 255, 255, 0);
  }

  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}

/*** ORBITS ***/

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.hero-image {
  width: 150px;
  height: 150px;
  background: url("../img/sun1.svg");
  background-size: cover;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.orbits {
  border: 1px solid rgba(255, 255, 255, 0.06);
  position: absolute;
  border-radius: 50%;
  animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.orbit1 {
  width: 200px;
  height: 200px;
}

.orbit2 {
  width: 300px;
  height: 300px;
}

.orbit3 {
  width: 400px;
  height: 400px;
}

.orbit4 {
  width: 500px;
  height: 500px;
}

.orbit5 {
  width: 600px;
  height: 600px;
}

.orbit6 {
  width: 700px;
  height: 700px;
}

.orbit7 {
  width: 800px;
  height: 800px;
}

.orbit8 {
  width: 900px;
  height: 900px;
}

/*** PLANETS ***/

.planets {
  width: 20px;
  height: 20px;
  z-index: 5;
}

.planet1 {
  width: 15px;
  height: 15px;
  margin: 21px 0 0 21px;
  animation: rotating 8s linear infinite;  
  transform-origin: 78px 78px;
}

.planet2 {
  width: 20px;
  height: 20px;
  margin: 33px 0 0 33px;
  animation: rotating 9s linear infinite;
  transform-origin: 115px 115px;
}

.planet3 {
  width: 25px;
  height: 25px;
  margin: 45px 0 0 45px;
  animation: rotating 10s linear infinite;
  transform-origin: 153px 153px;
}

.planet4 {
  width: 17px;
  height: 17px;
  margin: 63px 0 0 63px;
  animation: rotating 11s linear infinite;
  transform-origin: 185px 185px;
}

.planet5 {
  width: 55px;
  height: 55px;
  margin: 60px 0 0 60px;
  animation: rotating 12s linear infinite;
  transform-origin: 237px 237px;
}

.planet6 {
  width: 50px;
  height: 50px;
  margin: 73px 0 0 73px;
  animation: rotating 13s linear infinite;
  transform-origin: 273px 273px;
}

.planet7 {
  width: 35px;
  height: 35px;
  margin: 97px 0 0 97px;
  animation: rotating 14s linear infinite;
  transform-origin: 302px 302px;
}

.planet8 {
  width: 35px;
  height: 35px;
  margin: 111px 0 0 111px;
  animation: rotating 15s linear infinite;
  transform-origin: 336px 336px;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*** NAVIGATION ***/
.navigation-container {
  position: fixed;
  top: 50%;
  right: 0%;
  margin-top: -240px;
  animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.progress-bar {
  position: absolute;
  right: 0;
  height: 10%;
  background: rgba(255, 255, 255, 0.5);
  width: 6px;
  z-index: -1;
}

.navigation {
  list-style: none;
  color: #FFF;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.navigation li:hover {
  cursor: pointer;
  border-bottom: 2px solid #FFF;
}

.scroll-item {
  border-bottom: 2px solid rgba(255, 255, 255, 0.12);
  padding: 5px 15px;
}

.scroll-item.active {
  border-bottom: 2px solid #FFF;
  padding: 5px 15px;
}

@media only screen and (max-width: 768px) {
  .progress-bar{
    display: none;
  }

  .navigation-container{
    height: 100px;
    width: 100vw;
    margin: 0;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }

  .navigation {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    line-height: 16px;
    font-size: 16px;
  }
}
/*** SECTIONS ***/
.slide {
  height: 100vh;
  width: 100%;
  display: block;
}

.planets-background {
  width: 100vw;
  height: 100vh;
}


#slide1 {
  background: rgba(241,231,103,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  background: radial-gradient(ellipse at center, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
}

.planets-background.slide1 {
  background: url("../img/sun1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide2 {
  background: rgba(189,189,189,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(145,145,145,1) 44%, rgba(105,105,105,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(189,189,189,1)), color-stop(44%, rgba(145,145,145,1)), color-stop(100%, rgba(105,105,105,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(145,145,145,1) 44%, rgba(105,105,105,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(145,145,145,1) 44%, rgba(105,105,105,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(189,189,189,1) 0%, rgba(145,145,145,1) 44%, rgba(105,105,105,1) 100%);
  background: radial-gradient(ellipse at center, rgba(189,189,189,1) 0%, rgba(145,145,145,1) 44%, rgba(105,105,105,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#696969', GradientType=1 );
}

.planets-background.slide2 {
  background: url("../img/mercury.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide3 {
  background: rgba(235,88,47,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(235,88,47,1) 0%, rgba(235,75,35,1) 44%, rgba(171,55,25,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(235,88,47,1)), color-stop(44%, rgba(235,75,35,1)), color-stop(100%, rgba(171,55,25,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(235,88,47,1) 0%, rgba(235,75,35,1) 44%, rgba(171,55,25,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(235,88,47,1) 0%, rgba(235,75,35,1) 44%, rgba(171,55,25,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(235,88,47,1) 0%, rgba(235,75,35,1) 44%, rgba(171,55,25,1) 100%);
  background: radial-gradient(ellipse at center, rgba(235,88,47,1) 0%, rgba(235,75,35,1) 44%, rgba(171,55,25,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb582f', endColorstr='#ab3719', GradientType=1 );
}

.planets-background.slide3 {
  background: url("../img/venus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide4 {
  background: rgba(5,238,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(5,238,255,1)), color-stop(44%, rgba(0,186,199,1)), color-stop(100%, rgba(0,157,168,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  background: radial-gradient(ellipse at center, rgba(5,238,255,1) 0%, rgba(0,186,199,1) 44%, rgba(0,157,168,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05eeff', endColorstr='#009da8', GradientType=1 );
}

.planets-background.slide4 {
  background: url("../img/earth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide5 {
  background: rgba(201,0,0,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(201,0,0,1)), color-stop(44%, rgba(179,0,0,1)), color-stop(100%, rgba(112,0,0,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  background: radial-gradient(ellipse at center, rgba(201,0,0,1) 0%, rgba(179,0,0,1) 44%, rgba(112,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c90000', endColorstr='#700000', GradientType=1 );
}

.planets-background.slide5 {
  background: url("../img/mars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide6 {
  background: rgba(236,149,49,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(236,149,49,1) 0%, rgba(209,133,46,1) 44%, rgba(176,113,41,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(236,149,49,1)), color-stop(44%, rgba(209,133,46,1)), color-stop(100%, rgba(176,113,41,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(236,149,49,1) 0%, rgba(209,133,46,1) 44%, rgba(176,113,41,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(236,149,49,1) 0%, rgba(209,133,46,1) 44%, rgba(176,113,41,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(236,149,49,1) 0%, rgba(209,133,46,1) 44%, rgba(176,113,41,1) 100%);
  background: radial-gradient(ellipse at center, rgba(236,149,49,1) 0%, rgba(209,133,46,1) 44%, rgba(176,113,41,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9531', endColorstr='#b07129', GradientType=1 );
}

.planets-background.slide6 {
  background: url("../img/jupiter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide7 {
  background: rgba(248,179,94,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(248,179,94,1) 0%, rgba(217,156,83,1) 44%, rgba(161,117,63,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,179,94,1)), color-stop(44%, rgba(217,156,83,1)), color-stop(100%, rgba(161,117,63,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(248,179,94,1) 0%, rgba(217,156,83,1) 44%, rgba(161,117,63,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(248,179,94,1) 0%, rgba(217,156,83,1) 44%, rgba(161,117,63,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(248,179,94,1) 0%, rgba(217,156,83,1) 44%, rgba(161,117,63,1) 100%);
  background: radial-gradient(ellipse at center, rgba(248,179,94,1) 0%, rgba(217,156,83,1) 44%, rgba(161,117,63,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8b35e', endColorstr='#a1753f', GradientType=1 );
}

.planets-background.slide7 {
  background: url("../img/saturn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-attachment: fixed;
}

#slide8 {
  background: rgba(100,198,209,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(100,198,209,1) 0%, rgba(50,150,237,1) 44%, rgba(44,135,215,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(100,198,209,1)), color-stop(44%, rgba(50,150,237,1)), color-stop(100%, rgba(44,135,215,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(100,198,209,1) 0%, rgba(50,150,237,1) 44%, rgba(44,135,215,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(100,198,209,1) 0%, rgba(50,150,237,1) 44%, rgba(44,135,215,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(100,198,209,1) 0%, rgba(50,150,237,1) 44%, rgba(44,135,215,1) 100%);
  background: radial-gradient(ellipse at center, rgba(100,198,209,1) 0%, rgba(50,150,237,1) 44%, rgba(44,135,215,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c6d1', endColorstr='#2c87d7', GradientType=1 );
}

.planets-background.slide8 {
  background: url("../img/uranus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

#slide9 {
  background: rgba(0,133,222,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,133,222,1)), color-stop(44%, rgba(0,136,199,1)), color-stop(100%, rgba(0,102,133,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  background: radial-gradient(ellipse at center, rgba(0,133,222,1) 0%, rgba(0,136,199,1) 44%, rgba(0,102,133,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0085de', endColorstr='#006685', GradientType=1 );
}

.planets-background.slide9 {
  background: url("../img/neptune.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;
  background-attachment: fixed;
}

@media only screen and (max-width: 1200px) {
  .planets-background.slide1 {
    background-size: 60%;
  }
  .planets-background.slide2 {
    background-size: 60%;
  }
  .planets-background.slide3 {
    background-size: 60%;
  }
  .planets-background.slide4 {
    background-size: 60%;
  }
  .planets-background.slide5 {
    background-size: 60%;
  }
  .planets-background.slide6 {
    background-size: 60%;
  }
  .planets-background.slide7 {
    background-size: 60%;
  }
  .planets-background.slide8 {
    background-size: 60%;
  }
  .planets-background.slide9 {
    background-size: 60%;
  }
}

/*** SLIDES CONTENT ***/
.slide-title{
	display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.slide-title h1 {
  width: 100%;
	padding: 20px 0 0 0;
	font-weight: 400;
	font-family: 'Lobster', cursive;
	font-size: 90px;
	color: #FFF;
	text-align: center;
}

.slide-title h3 {
  width: 100%;
  padding: 0 20% 20px 20%;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color: #FFF;
	text-align: center;
}

.slide-content{
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.slide-content-desc{
  margin: 20px 0 0 0;
  padding: 50px;
	display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.7);
  border-radius: 20px;
}


.slide-content-chart {
	position: relative; 
	width: 30vw;
	display: flex;
  align-items: center;
  flex-direction: column;
}

.slide-content-chart h1{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  padding: 0 0 30px 0;
  text-transform: uppercase;
}

.slide-content-info {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  line-height: 4em;
}

.slide-content-info-single {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.slide-content-info-single img{
  width: 40px;
}

.slide-content-info-single h1 {
  text-transform: uppercase;
  font-size: 30px;
  padding: 0 0 0 20px;
}

.slide-content-info-single h1 span {
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  .slide-content-desc{
    margin:0;
    padding: 20px;
  }

  .slide-title h1 {
    font-size: 60px;
  }
  
  .slide-title h3 {
    font-size: 20px;
  }

  .slide-content-chart {
    width: 40vw;
  }
  
  .slide-content-chart h1{
    font-size: 1.5em;
  }

  .slide-content-info-single h1 {
    font-size: 20px;
  }
  
  .slide-content-info-single h1 span {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .slide-content-desc{
    margin:0;
    padding: 20px;
    flex-direction: column;
  }

  .slide-content-info-single img{
    width: 30px;
  }

  .slide-title h1 {
    font-size: 25px;
  }
  
  .slide-title h3 {
    font-size: 10px;
  }

  .slide-content-chart {
    width: 60vw;
  }
  
  .slide-content-chart h1{
    font-size: 14px;
    padding: 0;
  }

  .slide-content-info-single h1 {
    font-size: 14px;
  }
  
  .slide-content-info-single h1 span {
    font-size: 10px;
  }

  .slide-content-info {
    line-height: 2em;
  }
}